<!-- <div class="container" [ngClass] ="{'another-color': nouveauVoiture.client == false}" >

 <h2>{{nouveauVoiture.marque}} </h2> 


<div class="flex-box">

    <img [src]="nouveauVoiture.imgVoiture"  *ngIf = "nouveauVoiture.imgVoiture !== '' " >   

    <div class="contenu-and-button">
      <ul class="contenu">
        <li>{{nouveauVoiture.marque}} </li>
        <li>{{nouveauVoiture.modele}} </li>
        <li>{{nouveauVoiture.color}}</li>
        <li>{{nouveauVoiture.date_achat}} </li>
      </ul>


        <button class="voir-plus">voir plus</button>
</div>

</div>

</div>
 -->
